streamlit
streamlit-cookies-controller
pandas
plotly
mysql-connector-python
requests
pdfplumber
spacy
streamlit-lottie
python-dotenv
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl